/*
* ThemesTent Framework App Style v0.1
*
* Copyright 2012 ThemesTent, Bangladesh
*
* Designed and built with passion by @themestent
*/
/* Core Variables & Mixins */
/* Bourbon */
/* below is some code reused from http://codepen.io/bradfrost/pen/sjiCv */
.wrap {
  position: relative;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out; }

.wrap.active {
  left: 14em; }

a.side-menu-link {
  float: left;
  display: block;
  padding: 1em; }

@media screen and (max-width: 48.063em) {
  .js .oc {
    width: auto;
    position: absolute;
    top: 0;
    left: -14em; } }
@media screen and (min-width: 48.25em) {
  a.side-menu-link {
    display: none; }

  .wrap.active {
    left: 0; } }
