@font-face {
  font-family: 'IconicFill';
  src: url("fonts/iconic_fill.eot");
  src: url("fonts/iconic_fill.eot?#iefix") format("embedded-opentype"), url("fonts/iconic_fill.ttf") format("truetype"), url("fonts/iconic_fill.svg#iconic") format("svg");
  font-weight: normal;
  font-style: normal; }
